.selection {

  // .selection__top

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &:not(:last-child){
      margin-bottom: 20px;
    }

    p{
      margin: 0px;
    }
  }

  // .selection__select-btns

  &__select-btns {
  }

  // .selection__select-btn

  &__select-btn {

    border: 1px solid #999999;
    background-color: #fff;
    padding: 5px 20px;
    color: var(--primary);

    transition: all .3s;
    border-radius: var(--btn-radius);

    &.active{
      background-color: var(--primary);
      border-color: var(--primary);
      color: #FFF;
    }

    @media (max-width: $mobileSmall) {
      padding: 8px 30px;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.product {

  // .product__inner
  &__inner {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);

    @media (max-width: em(576.98)) {
      margin-top: 20px;
    }
  }

  // .product__images
  &__images {
    grid-column: 5 span;
    position: relative;

    picture{
      display: block;
    }

    img{
      max-width: 90%;
    }

    //.product__images-icons,
    &-icons,
    svg{
      width: 100px;
      height: 100px;
      position: absolute;
      top: -10%;
      right: 3%;

      @media (max-width: $small-pc) {
        width: 80px;
        height: 80px;
      }
    }

    @media (max-width: $small-pc) {
      grid-column: 4 span;
    }

    @media (max-width: $tablet) {
      grid-column: 6 span;
    }

    @media (max-width: em(576.98)) {
      grid-column: 8 span;
    }

    @media (max-width: $mobileSmall) {
      grid-column: 12 span;
    }

  }

  // .product__specifications
  &__specifications {
    grid-column: 4 span;

    @media (max-width: $tablet) {
      grid-column: 6 span;
    }

    @media (max-width: em(576.98)) {
      grid-column: 12 span;
    }
  }

  // .product__specifications--title

  &__specifications--title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  // .product__specifications--list

  &__specifications--list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li{
      display: flex;
      align-items: flex-end;

      &:not(:last-child){
        margin-bottom: 8px;
      }
    }
  }

  // .product__specifications--name

  &__specifications--name {
    padding-right: 8px;
  }

  // .product__specifications--dots

  &__specifications--dots {
    flex-grow: 1;
    border-bottom: 1px dotted var(--grey);
  }

  // .product__specifications--value

  &__specifications--value {
    padding-left: 8px;
    text-align: right;
  }

  // .product__info

  &__info {
    grid-column: 3 span;

    @media (max-width: $small-pc) {
      grid-column: 4 span;
    }

    @media (max-width: $tablet) {
      grid-column: 12 span;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
    }

    @media (max-width: em(576.98)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .product__alert

  &__alert {
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: var(--btn-radius);

    display: flex;
    align-items: center;

    svg{
      width: 29px;
      height: 29px;
      margin-right: 15px;
      color: var(--primary);
    }

    p{
      flex: 1;
      margin: 0px;
      opacity: .5;
      line-height: 1.2;
    }
  }

  // .product__document

  &__document {

    margin-bottom: 40px;

    a{
      display: flex;
      align-items: center;

      &:not(:last-child){
        margin-bottom: 10px;
      }

      svg{
        margin-right: 5px;
      }
    }
  }

  &__sale{
    
  }

  // .product__price
  &__price{
    margin-top: 5px;
    font-size: 12px;
  }

  // .product__btn
  &__btn{
    margin-top: 10px;
    a{
      width: 100%;
    }
  }
}
