<section class="advantages-7 section">
    <img src="https://dummyimage.com/1920x1009/c7c7c7/ffffff" alt="" class="advantages-7__bg">
    <div class="wrapper">
        <h2 class="advantages-7__title section__title">Lorem ipsum dolor sit amet.</h2>

        <div class="advantages-7__cards-container">
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-7__card">
                <div class="advantages-7__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-7__card-icon">
                </div> 
                <h3 class="advantages-7__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-7__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
        </div>
    </div>
</section>
