<section class="advantages-3 section">
    <div class="wrapper">
        <h2 class="advantages-3__title">Lorem ipsum dolor sit amet.</h2>

        <div class="advantages-3__cards-container">
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. <span class="advantages-3__card-text--highlighted">Aut, facere.</span>
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    <span class="advantages-3__card-text--highlighted">Lorem</span> ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                    
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet <span class="advantages-3__card-text--highlighted">consectetur adipisicing</span>
                     elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-3__card">
                <div class="advantages-3__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-3__card-icon">
                </div>                
                <div class="advantages-3__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
        </div>
    </div>
</section>
