<section class="advantages-2 section">
    <div class="wrapper">
        <h2 class="advantages-2__title section__title">Lorem ipsum dolor sit amet.</h2>

        <div class="advantages-2__cards-container">
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                    
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-2__card">
                <div class="advantages-2__icon-container">
                    <img src="https://dummyimage.com/55x55/c7c7c7/fff" alt="" class="advantages-2__card-icon">
                </div>                
                <div class="advantages-2__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
        </div>
    </div>
</section>
