<section class="advantages-10 section">
    <div class="wrapper">
        <h2 class="advantages-10__title section__title">Lorem ipsum dolor sit amet.</h2>
        <div class="advantages-10__text">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Aut, facere.
        </div>

        <div class="advantages-10__cards-container">
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-10__card">
                <div class="advantages-10__icon-container">
                    <img src="https://dummyimage.com/150x160/c7c7c7/fff" alt="" class="advantages-10__card-icon">
                </div> 
                <h3 class="advantages-10__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-10__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
        </div>
    </div>
</section>
