<section class="advantages-9 section">
    <div class="wrapper">
        <h2 class="advantages-9__title section__title">Lorem ipsum dolor sit amet.</h2>

        <ol class="advantages-9__cards-container">
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
            <div class="advantages-9__counter-handler">
                <li class="card-container">
                    <div class="advantages-9__card">
                        <div class="advantages-9__icon-container">
                            <img src="https://dummyimage.com/40x40/000/fff" alt="" class="advantages-9__card-icon">
                        </div>                
                        <div class="advantages-9__card-text">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Aut, facere.
                        </div>
                    </div>
                </li>
            </div>
        </ol>
    </div>
</section>