<div class="section advantages-1" style="background-image: url(https://dummyimage.com/1920x400/c7c7c7/f7f7f7);">
  <div class="wrapper">
    <h2 class="section__title">Lorem ipsum dolor sit amet.</h2>
    <p class="advantages-1__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum vel eos est molestiae accusamus maxime voluptas, totam ducimus labore provident quis magni odit repudiandae in asperiores cupiditate autem sit unde?</p>

    <div class="advantages-1__cards-container">
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facere. Lorem ipsum dolor sit amet consectetur adipisicing</div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facere.</div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facere.</div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, facere.</div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aut, facere.
        </div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aut, facere.
        </div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aut, facere.
        </div>
      </div>
      <div class="advantages-1__card">
        <img src="https://dummyimage.com/50x50" alt="" class="advantages-1__card-icon">
        <div class="advantages-1__card-text">
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aut, facere.
        </div>
      </div>
    </div>
  </div>
</div>
