<section class="advantages-6 section">
    <div class="wrapper">
        <h2 class="advantages-6__title section__title">Lorem ipsum dolor sit amet.</h2>

        <div class="advantages-6__cards-container">
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>  
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                 
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>  
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>            
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>  
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                 
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div> 
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>  
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                     
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                     elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>      
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>             
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div> 
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                  
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
            <div class="advantages-6__card">
                <div class="advantages-6__icon-container">
                    <img src="https://dummyimage.com/47x47/c7c7c7/fff" alt="" class="advantages-6__card-icon">
                </div>  
                <h3 class="advantages-6__card-title">
                    Lorem ipsum dolor sit amet.
                </h3>                 
                <div class="advantages-6__card-text">
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Aut, facere.
                </div>
            </div>
        </div>
    </div>
</section>
