#cookie-notification {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: rem(25);
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);

  @media (max-width: $mobile) {
    max-width: 95%;
    padding: rem(10);
  }

  &__text {
    margin: 0;
    font-size: rem(12);
    text-align: left;
    color: #333;
  }
  &__button{
    
    @media (min-width: $mobile) {
      margin: 0 0 0 25px;
    }
    @media (max-width: $mobile) {
      margin: 10px 0 0 0;
      width: 100%;
    }
  }
  &.show{
    @media (min-width: $mobile) {
      display: flex;
    }
    @media (max-width: $mobile) {
      display: block;
      text-align: left;
      line-height: 1.2;
    }
  }
}