.c-form {
  
  --mv-top-bg: #F5DD3C;
  --mv-top-color: #11263A;

  --mv-input-border: #BAC2CA;
  --mv-input-border-radius: 2px;
  --mv-input-border-focus: #F5DD3C;


  width: 100%;

  // .c-form__content-top
  &__content-top {
    padding: rem(20) rem(10);
    text-align: center;
  }

  // .c-form__title

  &__title {
    font-weight: 500;
    text-transform: uppercase;
  }

  // .c-form__descr

  &__descr {
    margin-top: 10px;
  }

  // .c-form__content

  &__content {
  }

  // .c-form__item

  &__item {
    position: relative;

    &:not(:last-child){
      margin-bottom: 20px;
    }
  }

  // .c-form__label

  &__label {
  }

  // .c-form__input

  &__input {
    display: block;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid var(--mv-input-border);
    outline: none;

    &:focus-visible,
    &:focus{
      border-color: var(--primary);
      outline: 0px;
    }

    //.c-form__input--error-text
    &--error-text{
      color: #dc3545;
      position: absolute;
      bottom: -20px;
      right: 10px;
      font-size: 12px;
    }

  }

  // .c-form__select

  &__select {
  }

  // .c-form__item-button

  &__item-button {
  }

  // .c-form__btn

  &__btn {
    outline: 0px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #FFF;
    border-radius: var(--btn-radius);
  }

  // .c-form__conf

  &__conf {
  }

  // .c-form__conf-icon

  &__conf-icon {
  }

  // .c-form__conf-text

  &__conf-text {
  }
}


.modals-form{
  padding: 0px;

  .c-form__content{
    padding: 20px;
  }
}








.form-validate {
}
.--white {
}
.input {

  // .input__text

  &__text {
  }

  // .input__tel

  &__tel {
  }

  // .input__email

  &__email {
  }
}
.form-control {
}
.lk-btn--js {
}
.btn--submit {
}
.d-flex {
}
.align-items-center {
}
.justify-content-center {
}











// .c-form {
//   max-width: rem(340);
//   width: 100%;
//   background-color: #fff;

//   &__content {
//     padding: 20px;
//     padding-bottom: 0px;

//     &-top {
//       padding: rem(30) 20px;
//       background: linear-gradient(180deg, #395E98 0%, #0C1A2E 100%);
//       color: #FFF;
//       font-weight: 800;
//     }
//   }

//   &__title {
//     font-size: rem(20);
//     text-align: center;
//   }

//   &__item {
//     width: 100%;
//     margin-bottom: 15px;
//     position: relative;

    
//     .form-control{

//       display: block;
//       width: 100%;
//       padding: 10px 10px;
//       border: 1px solid #c4c4c4;
//       border-radius: 2px;

//       &::placeholder {
//         color: transparent;
//       }
    
//       &:focus{
//         border-color: var(--primary);
//       }
//     }

  
//     label {
      
//     }


    
//   }

//   &__input {

//     &--error-input{
//       border-color: #FF3300 !important
//     }
//     &--error-input.valid{
//       border-color: inherit !important
//     }
//     &--error-label{
//       color: #FF3300 !important
//     }

//     &--error-text {
//       position: absolute;
//       right: 0px;
//       bottom: rem(-20);
//       width: 100%;
//       font-size: rem(12);
//       text-align: left;
//       color: #FF3300;
//     }

//   }

//   &__btn {
//     margin-top: 20px;
//     display: block;
//     width: 100%;
//     text-align: center;
//     background: linear-gradient(180deg, #E70004 0%, #D00003 100%, #BD5000 100%);
//     // box-shadow: 0px 0px 20px 2px #FF787A;
//     border: 1px solid var(--red);
//     // color: $colotBtn;
//     outline: none;
//     // padding: $paddingBtn;

//   }

//   &__conf {
//     padding-bottom: 10px;
//     &-icon {
//       margin-right: rem(5);
//       svg {
//         // fill: $colorSvg
//       }
//     }

//     &-text {
//       font-size: rem(12);
//     }
//   }

// }
