
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-width: 320px;
}



body {
	color: var(--mv-body-color);
	line-height: 1.5;
	font-family: var(--mv-font-sans-serif);
	font-size: var(--fs-text);
	background-color: #FEFCFB;
}

input,
button,
textarea {
	font-family: var(--mv-font-sans-serif);
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

p{
	margin-top: 0px;
}

.list-reset{
	margin: 0px;
	padding: 0px;
	list-style: none;
}