$mainTitleMargins: 35px 0 60px 0;
$cardsGapRow: 40px;
$cardsGapCol: 50px;
$cardsColor: inherit;
$inCardSpacing: 10px;

$cardsInRow: 4;
$cardsInRowPc: 3;
$cardsInRowTablet: 2;
$cardsInRowMobile: 2;
$cardsInRowMobileSmall: 1;

$iconsBgColor: linear-gradient(180deg, #0897FF 0%, #0067B1 100%);
$highlightedText: #F9730E;
$iconsBorder: 10px;
$iconWidth: 50px;
$iconsColor: black;
$iconContainerPadding : 20px;

.advantages-5 {
    position: relative;
    text-align: center;

    &__title {
        //advantages-5__title
        font-weight: bold;
        font-size: $fontSizeTitle;
        margin: $mainTitleMargins;

        @media (max-width: 370px) {
            font-size: 2.6rem;
        }
    }

    &__cards-container {
        //advantages-5__cards-container
        display: grid;
        grid-template-columns: repeat($cardsInRow, 1fr);
        gap: $cardsGapRow $cardsGapCol;
        justify-items: center; 
        justify-content: center;

        @media (max-width: $pc) {
            grid-template-columns: repeat($cardsInRowPc, 1fr);
        }

        @media (max-width: $tablet) {
            grid-template-columns: repeat($cardsInRowTablet, 1fr);
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat($cardsInRowTablet, 1fr);
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat($cardsInRowMobileSmall, 1fr);
        }
    }

    &__card {
        //advantages-5__card
        text-align: center;
        background-color: $cardsColor;
        display: flex;
        align-items: center;
        gap: $inCardSpacing;

        &-text {
            //advantages-5__card-text
            font-size: $fontSize;
        }

        &-icon {
            //advantages-5__card-icon
            background: $iconsColor;
            max-width: unset;
        }
    }

    &__icon-container {
        //advantages-5__icon-container
        padding: $iconContainerPadding;
        background: $iconsBgColor;
        border-radius: $iconsBorder;
    }
}