$bgImageHeight: 400px;
$cardsGapRow: 40px;
$cardsGapCol: 20px;
$cardsColor: #fff;
$cardsBoxShadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
$cardsInRow: 4;
$cardsBorder: 5px;
$mainCardsColor: white;
$iconsColor: linear-gradient(180deg, #93C2FF 0%, #1E7FFF 80.89%);
$iconsBorder: 50%;
$iconWidth: 50px;
$inCardSpacing: 16px;
$iconsBgColor: white;

.advantages-8 {
    position: relative;
    padding-top: 50px;

    @media (max-width: $tablet) {
        padding-top: 30px;
    }

    @media (max-width: $mobile) {
        padding-top: 10px;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: $fontSizeTitle;
        position: relative;

        @media (max-width: 370px) {
            font-size: 2.8rem;
        }

        @media (max-width: 370px) {
            font-size: 2.6rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 40px);
            width: 80px;
            height: 4px;
            background-color: $mainCardsColor;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat($cardsInRow, 1fr);
        gap: $cardsGapRow $cardsGapCol;
        justify-items: center; 
        justify-content: center;

        @media (max-width: $pc) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        position: relative;
        text-align: center;
        padding: 42px 30px 35px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $inCardSpacing;
        box-shadow: $cardsBoxShadow;
        border-radius: $cardsBorder;

        background: url(https://dummyimage.com/280x250/c7c7c7/ffffff) no-repeat center center;
        background-size: cover;

        &-title {
            font-size: calc($fontSize + 0.4rem);
            margin: unset;
            margin-top: 16px;
        }

        &-text {
            font-size: $fontSize;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 11px);
            width: 22px;
            height: 10px;
            background-color: $mainCardsColor;
        }
    }

    &__icon-container {
        border-radius: $iconsBorder;
        padding: 20px;
        width: fit-content;
        background-color: $iconsBgColor;
    }
}