$mainTitleMargins: 35px 0 60px 0;
$cardsGapRow: 40px;
$cardsGapCol: 50px;
$cardsColor: inherit;
$inCardSpacing: 10px;
$cardsInRow: 4;
$iconsBgColor: linear-gradient(180deg, #0897FF 0%, #0067B1 100%);
$highlightedText: #F9730E;
$iconsBorder: 10px;
$iconWidth: 50px;
$iconsColor: black;

.advantages-5 {
    position: relative;
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: $fontSizeTitle;
        margin: $mainTitleMargins;

        @media (max-width: 370px) {
            font-size: 2.6rem;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat($cardsInRow, 1fr);
        gap: $cardsGapRow $cardsGapCol;
        justify-items: center; 
        justify-content: center;

        @media (max-width: 1100px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        text-align: center;
        background-color: $cardsColor;
        display: flex;
        align-items: center;
        gap: $inCardSpacing;

        &-text {
            font-size: $fontSize;
        }

        &-icon {
            background: $iconsColor;
            max-width: unset;
        }
    }

    &__icon-container {
        padding: 20px;
        background: $iconsBgColor;
        border-radius: $iconsBorder;
    }
}