$mainTitleMargins: 35px 0 60px 0;
$cardsGapRow: 40px;
$cardsGapCol: 20px;
$cardsColor: inherit;
$inCardSpacing: 30px;
$cardsInRow: 4;
$iconsBgColor: #FEBD23;
$iconsBorder: 0px 0px 0px 0px;
$iconWidth: 50px;

.advantages-2 {
    position: relative;
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: $fontSizeTitle;
        margin: $mainTitleMargins;

        @media (max-width: 370px) {
            font-size: 2.6rem;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat($cardsInRow, 1fr);
        gap: $cardsGapRow $cardsGapCol;
        justify-items: center; 
        justify-content: center;

        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        text-align: center;
        padding: 30px 20px;
        background-color: $cardsColor;

        &-text {
            margin-top: $inCardSpacing;
            font-size: $fontSize;
        }

        &-icon {
            border-radius: $iconsBorder;
        }
    }

    &__icon-container {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            width: $iconWidth;
            height: $iconWidth;
            top: 10px;
            right: calc(50% - $iconWidth);
            border-radius: 50%;
            background-color: $iconsBgColor;
            z-index: -1;
        }
    }
}