$mainTitleMargins: 35px 0 60px 0;
$maxCardWidth: 209px;
$cardsGapRow: 40px;
$cardsGapCol: 40px;
$cardsColor: inherit;
$inCardSpacing: 40px;
$cardsInRow: 4;
$iconsBgColor: inherit;
$iconsBorder: 10px solid #0095D4;
$iconsColor: black;
$counterColor: #C4C4C4;
$counterFont: 130px;
$counterCollision: 20px;

.advantages-9 {
    position: relative;

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: $fontSizeTitle;
        margin: $mainTitleMargins;

        @media (max-width: 370px) {
            font-size: 2.6rem;
        }
    }

    &__cards-container {
        display: grid;
        padding-left: 0;
        grid-template-columns: repeat($cardsInRow, 1fr);
        gap: $cardsGapRow $cardsGapCol;
        justify-items: center; 
        justify-content: center;
        counter-reset: container;

        @media (max-width: $pc) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .card-container {
        list-style-type: none;
        position: relative;

        &::before {
            position: absolute;
            top: -90%;
            left: -15%;
            opacity: 0.5;
            content: counter(container, decimal-leading-zero); 
            counter-increment: container;
            color: $counterColor;
            font-size: $counterFont;
            padding: 0;
            //z-index: -1;

            @media (max-width: $tablet) {
                left: 0;
            }
        }
    }

    &__card {
        position: relative;
        display: flex;
        z-index: 2;
        align-items: center;
        background-color: $cardsColor;
        gap: $inCardSpacing;
        font-size: $fontSize;

        &-text {
            font-size: $fontSize;
        }

        &-icon {
            background: $iconsColor;
            border-radius: $iconsBorder;
            max-width: unset;
            max-height: unset;
        }
    }

    &__icon-container {
        position: relative;
        padding: 5px;
        background-color: $iconsBgColor;
        border: $iconsBorder;
    }
}