<div class="c-tabs">
    <ul class="c-tabs-nav" role="tablist">
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link active" data-toggle="tab" href="#description">Описание</a>
        </li>
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link" data-toggle="tab" href="#characteristics">Характеристики</a>
        </li>
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link" data-toggle="tab" href="#opinion">Отзывы</a>
        </li>
    </ul>
    <div class="c-tabs-content">
        <div class="c-tabs-pane fade show active" id="description">
            Описание товара...
        </div>
        <div class="c-tabs-pane fade" id="characteristics">
            Характеристики товара...
        </div>
        <div class="c-tabs-pane fade" id="opinion">
            Отзывы...
        </div>
    </div>
</div>


<div class="c-tabs">
    <ul class="c-tabs-nav" role="tablist">
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link active" data-toggle="tab" href="#tabs-1">Таб 1</a>
        </li>
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link" data-toggle="tab" href="#tabs-2">Таб 2</a>
        </li>
        <li class="c-tabs-nav-item">
            <a class="c-tabs-nav-link" data-toggle="tab" href="#tabs-3">Таб 3</a>
        </li>
    </ul>
    <div class="c-tabs-content">
        <div class="c-tabs-pane fade show active" id="tabs-1">
            Описание товара...
        </div>
        <div class="c-tabs-pane fade" id="tabs-2">
            Характеристики товара...
        </div>
        <div class="c-tabs-pane fade" id="tabs-3">
            Отзывы...
        </div>
    </div>
</div>