$fontFamily: 'Mont', sans-serif;
$fontSize: rem(16); // где 16(px) - размер шрифта по умолчанию из макета



// НАСТРОЙКИ 


// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1342;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;


// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$small-pc: em(1280); 
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S