@font-face {
	font-family: play;
	font-display: swap;
	src: url("../fonts/play-bold.woff2") format("woff2"), url("../fonts/play-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: play;
	font-display: swap;
	src: url("../fonts/play.woff2") format("woff2"), url("../fonts/play.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: arial;
	font-display: swap;
	src: url("../fonts/arial.woff2") format("woff2"), url("../fonts/arial.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
